/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
/* END RESET */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 20px;
  background: #c5ccd3 url(../img/pinstripes.png);
  width: 320px;
}

/* div#TitleBar {
  background-color: #224;
  color: #fff;
  padding: 20px;
  height: 20px;
  text-align: center;
} */

div#TitleBar {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 1px solid #2d3642;
    border-top: 1px solid #6d84a2;
    padding: 10px;
    height: 45px;
    background: url(../img/toolbar.png) #6d84a2 repeat-x;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.button {
    position: absolute;
    overflow: hidden;
    top: 8px;
    right: 6px;
    margin: 0;
    border-width: 0 5px;
    padding: 0 3px;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    background: none;
    -webkit-border-image: url(../img/toolButton.png) 0 5 0 5;
}

#backButton {
    left: 6px;
    right: auto;
    padding: 0;
    max-width: 55px;
    border-width: 0 8px 0 14px;
    -webkit-border-image: url(../img/backButton.png) 0 8 0 14;
}

div#TitleBar h1 {
  font-size: 20px;
  font-weight: bold;
}

form {
  text-align: center;
  padding: 10px;
}

h2 {
  font-size: 17px;
  font-weight: bold;
  margin: 20px 0 0;
  color: #4c566c;
}

h2.outside {
  padding-left: 20px;
}

p {
  margin: 0 0 10px;
}

form select, form input {
  font-size: 16px;
}

div.ibox {
  margin-bottom: 20px;
}

div.box {
  padding: 0 20px 10px;
}

div.undernote {
  width: 100%;
  padding: 2px 0 3px;
  background-color: #123;
  color: #fff;
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
}

a.newbox {
  display: block;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 10px;
  margin: 20px 10px 20px;
  padding: 10px;
  background-color: #fff;
  width: 278px;
  text-align: left;
  color: #4c566c;
  font-weight: bold;
  text-decoration: none;
  background: #fff url(../img/listArrow.png) no-repeat center right;
}

ul.roundBox {
  display: block;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 10px;
  margin: 20px 10px 20px;
  padding: 5px 0;
  background-color: #fff;
  text-align: left;
  font-weight: bold;
  overflow: hidden;
}

ul.roundBox a {
  color: #4c566c;
  display: block;
  width: 270px;
  padding: 5px 18px 5px 10px;
  background: #fff url(../img/listArrow.png) no-repeat center right;
  text-decoration: none;
}

div#Footer {
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  margin: 30px 10px 10px;
  padding: 5px 0 20px;
  text-align: center;
}

span.station {
  color: #000;
  border-bottom: 2px solid #333;
}

div#Results {
  padding: 20px 10px;
}

div#Results h2 {
  padding-bottom: 20px;
}

table {
  border-collapse: collapse;
}

table td, table th {
  padding: 6px 0 6px 0px;
  width: 140px;
  text-align: center;
}

table th {
  font-weight: bold;
  color: #fff;
  background-color: #333;
}

table td {
  background-color: #fff;
  padding-top: 5px;
  border-top: 1px solid #cbe3ec;
}

table td img {
  margin: 0;
  padding: 0;
  display: inline;
}

table tr.stripe td {
  background-color: #edf3fe;
}

table tr td.changes {
  color: #999;
}

table tbody#MissedTrains {
  display: none;
}

table tbody#MissedTrains tr td {
  color: #f66;
  background-color: #eee;
  border-top: 1px solid #ccc;
}

div.button-group {
  background-color: #333;
  padding: 10px;
  float: left;
  width: 300px;
}

div.button-group .button {
  position: static;
  float: left;
  margin: 4px;
  background-color: #000;
  width: 18px;
  text-align: center;
  -webkit-border-image: none; 
}

ul {
  clear: both;
}

ul.internal_list {

}

ul.internal_list li {
  background-color: #fff;
  border-top: 1px solid #cbe3ec;
}

ul.internal_list li.group {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
  border-top: 0;
}

ul.internal_list li a {
  width: 300px;
  display: block;
  background: #fff url(../img/listArrow.png) no-repeat center right;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  padding: 4px 10px 5px;
}